.vs/
bin/
obj/
*bin/
Plasma Serialization WPF Framework/psWPF/bin/Debug/PlasmaSerializationUtility.pdb
Plasma Serialization WPF Framework/psWPF/bin/Debug/PlasmaSerializationUtility.exe.config
Plasma Serialization WPF Framework/psWPF/bin/Debug/PlasmaSerializationUtility.exe
